* {
    padding: 5px;
    font-family: Tahoma, Geneva, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    padding: 2px;
    margin: auto;
    margin-top: 10px;
    flex-flow: wrap;
    width: 28%;
    box-shadow: 5px 5px lightgrey;
    border: 1px solid lightgrey;
}

header {
    border: solid 1px lightblue;
}

.item-label {
    text-align: center;
}

.imgwrap {
    width: 90%;
    margin: auto;
}

header, .imgwrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.imgwrap img {
    display: block;
    width: 100%;
    max-width: 500px; /*actual image width*/
    height: auto; /* maintain aspect ratio*/
    margin: auto; /*optional centering of image*/
 }
