* {
    padding: 5px;
    font-family: Tahoma, Geneva, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    padding: 2px;
    margin: auto;
    margin-top: 10px;
    flex-flow: wrap;
    width: 28%;
    box-shadow: 5px 5px lightgrey;
    border: 1px solid lightgrey;
}

header {
    border: solid 1px lightblue;
}

.item-label {
    text-align: center;
}

header, .imgwrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.imgwrap {    
    margin: auto;
    width: 50%;
}

.imgwrap img {
    width: 100%;
}

.description > p {
    text-align: justify;
    text-justify: inter-word;
}